<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="styles/bTimeline.css">
    <style>
      .b-timeline {
          height: 38px;
      }
      
    </style>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/bTimeline.min.js"></script>
    <script src="scripts/bTimelineInterval.min.js"></script>
    <script>
      angular.module('app', ['bTimeline','bTimelineInterval'])
      
          .controller('ExampleCtrl', function ($scope) {
      
              $scope.beginDate= new Date(2015,0,3,0,0,0,0)
              $scope.endDate= new Date(2015,0,4,0,0,0,0)
      
              $scope.intervals= [
                  {
                      beginDate: new Date(2015,0,3,1,0,0,0),
                      endDate: new Date(2015,0,3,3,0,0,0),
                  }, {
                      beginDate: new Date(2015,0,3,5,0,0,0),
                      endDate: new Date(2015,0,3,7,0,0,0),
                  }, {
                      beginDate: new Date(2015,0,3,9,0,0,0),
                      endDate: new Date(2015,0,3,11,0,0,0),
                  }
              ]
      
              $scope.$pickedInterval= $scope.$pickedIntervalDraft= null
      
              $scope.pickInterval= function (interval) {
                  $scope.$pickedInterval= interval
                  $scope.$pickedIntervalDraft= {
                      beginDate: new Date(interval.beginDate),
                      endDate: new Date(interval.endDate),
                  }
              }
              $scope.unpickInterval= function () {
                  $scope.$pickedInterval= $scope.$pickedIntervalDraft= null
              }
              $scope.pickedInterval= function (interval) {
                  return (interval && $scope.$pickedInterval === interval)
              }
              $scope.pristinePickedInterval= function (interval) {
                  if (!$scope.$pickedIntervalDraft) return false
                  if ($scope.$pickedIntervalDraft.beginDate.getTime() != interval.beginDate.getTime()) return false
                  if ($scope.$pickedIntervalDraft.endDate.getTime() != interval.endDate.getTime()) return false
                  return true
              }
      
              $scope.saveInterval= function (interval) {
                  $scope.$pickedInterval.beginDate.setTime( $scope.$pickedIntervalDraft.beginDate.getTime() )
                  $scope.$pickedInterval.endDate.setTime( $scope.$pickedIntervalDraft.endDate.getTime() )
                  $scope.$pickedInterval= null
              }
      
              $scope.deleteInterval= function (interval) {
                  $scope.$pickedInterval= $scope.$pickedIntervalDraft= null
                  var i= $scope.intervals.indexOf(interval)
                  if (i > -1) {
                      $scope.intervals.splice(i, 1)
                  }
              }
      
          })
      
      ;
      
    </script>
  </head>
  <body ng-controller="ExampleCtrl">
    <h1>aeTimeline</h1>
    <div b-timeline timeline-begin-date="beginDate" timeline-end-date="endDate" timeline-intervals="intervals" class="example-timeline">
      <div b-timeline-template="interval" use="['bTimeline','interval']" class="example-timeline__interval">
        <div b-timeline-interval class="example-timeline-interval">
          <div b-timeline-interval-template="interval" use="['bTimelineInterval']">
            <div ng-if="pickedInterval(interval)" ng-style="{left:bTimeline.calcIntervalLeft($pickedIntervalDraft),right:bTimeline.calcIntervalRight($pickedIntervalDraft)}" class="b-timeline-interval__interval b-timeline-interval__interval_draft">
              <div class="b-timeline-interval__interval__btn"></div>
            </div>
            <div ng-class="{'b-timeline-interval__interval_orign':pickedInterval(interval)}" ng-style="{left:bTimeline.calcIntervalLeft(interval),right:bTimeline.calcIntervalRight(interval)}" class="b-timeline-interval__interval">
              <div ng-click="pickInterval(interval)" class="b-timeline-interval__interval__btn"></div>
              <div ng-if="pickedInterval(interval)" ng-click="$event.stopPropagation()" class="b-timeline-interval__interval__form">
                <div class="b-timeline-interval-form">
                  <div class="b-timeline-interval-form__main">
                    <div b-input-datetime class="b-input-datetime">
                      <div class="b-input-datetime__t">
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                          <div class="b-input-date">
                            <div class="b-input-date__btn b-input-date__btn_next">
                              <button ng-click="incrBeginHours($pickedIntervalDraft)">+</button>
                            </div>
                            <div class="b-input-date__input">
                              <input readonly value="{{$pickedIntervalDraft.beginDate|date:'HH'}}">
                            </div>
                            <div class="b-input-date__btn b-input-date__btn_prev">
                              <button ng-click="decrBeginHours($pickedIntervalDraft)">−</button>
                            </div>
                          </div>
                        </div>
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_label">&#x3A;</div>
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                          <div class="b-input-date">
                            <div class="b-input-date__btn b-input-date__btn_next">
                              <button ng-click="incrBeginMinutes($pickedIntervalDraft)">+</button>
                            </div>
                            <div class="b-input-date__input">
                              <input readonly value="{{$pickedIntervalDraft.beginDate|date:'mm'}}">
                            </div>
                            <div class="b-input-date__btn b-input-date__btn_prev">
                              <button ng-click="decrBeginMinutes($pickedIntervalDraft)">−</button>
                            </div>
                          </div>
                        </div>
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_label">&mdash;</div>
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                          <div class="b-input-date">
                            <div class="b-input-date__btn b-input-date__btn_next">
                              <button ng-click="incrEndHours($pickedIntervalDraft)">+</button>
                            </div>
                            <div class="b-input-date__input">
                              <input readonly value="{{$pickedIntervalDraft.endDate|date:'HH'}}">
                            </div>
                            <div class="b-input-date__btn b-input-date__btn_prev">
                              <button ng-click="decrEndHours($pickedIntervalDraft)">−</button>
                            </div>
                          </div>
                        </div>
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_label">&#x3A;</div>
                        <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                          <div class="b-input-date">
                            <div class="b-input-date__btn b-input-date__btn_next">
                              <button ng-click="incrEndMinutes($pickedIntervalDraft)">+</button>
                            </div>
                            <div class="b-input-date__input">
                              <input readonly value="{{$pickedIntervalDraft.endDate|date:'mm'}}">
                            </div>
                            <div class="b-input-date__btn b-input-date__btn_prev">
                              <button ng-click="decrEndMinutes($pickedIntervalDraft)">−</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button ng-click="saveInterval(interval);" ng-disabled="pristinePickedInterval(interval)">save interval</button>
                    <button ng-click="deleteInterval(interval)">delete</button>
                    <button ng-click="unpickInterval(interval)">close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>